
        /* Définition des variables pour la cohérence des couleurs */
:root {
    --primary-color: #07A5E2; /* Bleu clair */
    --background-color: #ffffff; /* Blanc */
    --text-color: #333;
    --border-color: #ccc;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: var(--text-color);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    background-color: var(--background-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 25px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--text-color);
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-sizing: border-box; /* Pour inclure padding et border dans la largeur */
    font-size: 16px;
    background-color: var(--background-color); /* Blanc */
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus {
    border-color: var(--primary-color); /* Bordure bleue au focus */
    outline: none;
}

textarea {
    resize: vertical;
}



button[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--primary-color); /* Bleu clair */
    color: var(--background-color); /* Texte blanc */
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0588c4; /* Un bleu légèrement plus foncé au survol */
}